/* Flask info */
@keyframes hideDiv {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

div .flask-info {
    border: rgba(160, 160, 160, 0.3);
    z-index: 10000;
    position: fixed;
    top: 75px;
    right: 20px;
    background-color: white;
    text-align: center;
    animation: hideDiv 8s forwards;

    .message {
        display: block;
        text-decoration: none;
        padding: 10px 10px;
    }
}