worker_processes  1;  # 你可以根据需要调整 worker 进程数

events {
    worker_connections 1024;  # 你可以根据需要调整最大连接数
}

http {
    # 在此处继续其他配置
    server {
        listen 80 default_server;
        listen [::]:80 default_server;

        location / {
            proxy_pass http://127.0.0.1:5000;
        }
    }
}