<article class="post">
    <header>
        <div class="title">
            <h2><a href="/journal/{{ journal['id'] }}">{{ journal['title'] }}</a></h2>
        </div>
        <div class="meta">
            <time class="published">{{ journal['publish_time'] }}</time>
            <a href="/profile/{{ journal['author_id'] }}" class="author">
                <span class="name">{{ login_user['account'] }}</span>
                <img src="{{ journal['author_profile_photo'] }}" alt="avatar">
            </a>
        </div>
    </header>
    <a href="/journal/{{ journal['id'] }}" class="image featured">
        <img src="{{ journal['header_path'] }}" alt="{{ journal['title'] }}_头图"/>
    </a>
    <p>{{ journal['first_paragraph'] }}</p>
    <footer>
        <ul class="actions">
            <li><a href="/journal/{{ journal['id'] }}" class="button large">阅读全文</a></li>
        </ul>
        <ul class="stats">
            <li><a href="/account/{{ login_user['id'] }}">{{ login_user['account'] }}</a></li>
            <li><i class="icon solid fa-heart">{{ journal['like_num'] }}</i></li>
            <li><i class="icon solid fa-comment">{{ journal['comment_num'] }}</i></li>
        </ul>
    </footer>
</article>