<section id="menu">
    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <h2>菜单</h2>
                <p>路漫漫其修远兮，吾将上下而求索。</p>
            </li>
            <li>
                <a href="/home">
                    <h3>主页</h3>
                    <p>快速回到首页。</p>
                </a>
            </li>
            <li>
                <a href="/edit_profile">
                    <h3>修改个人信息</h3>
                    <p>完善个人信息，有助于你更快找到志趣相投的书友。</p>
                </a>
            </li>
            <li>
                <a href="/journal_menu">
                    <h3>书评页</h3>
                    <p>看看大家都在讨论什么吧。</p>
                </a>
            </li>
            <li>
                <a href="/add_journal">
                    <h3>写书评</h3>
                    <p>最近又看了什么新书？有什么想法？说一说吧。</p>
                </a>
            </li>
            <li>
                <a href="/book_menu">
                    <h3>书籍页</h3>
                    <p>书籍是人类进步的阶梯。</p>
                </a>
            </li>
            <li>
                <a href="/group_menu">
                    <h3>圈子</h3>
                    <p>交流一下思想，或者单纯吹吹牛。</p>
                </a>
            </li>
            <li>
                <a href="/message">
                    <h3>消息中心</h3>
                    <p>今天也是风平浪静的一天呢。</p>
                </a>
            </li>
            <li>
                <a href="/logout"><h3>退出账号</h3></a>
            </li>
        </ul>
    </section>
</section>